<h2>Account number {{account.number}}</h2>
<div>
	<h3>Movements</h3>
	<label>Balance:</label> {{account.balance}}
	<div ng-if="account.movements.length === 0">
		The account doesn't have any movement
	</div>
	<div ng-repeat="mov in account.movements">
		<label>Type: </label> {{mov.type}}
		<label>Value: </label> {{mov.value}}
		<label>Date: </label> {{mov.date}}
	</div>
	<form name="movementForm">
		<label>Ammount:</label>
		<input type="number" ng-model="newMov.ammount"/>

		<label>Type:</label>
		<select ng-model="newMov.type">
			<option value="DEBIT">Debit</option>
			<option value="CREDIT">Credit</option>
		</select>
		<button ng-click="createMovement()">Create Movement</button>
	</form>
</div>