<form name="updateClientForm">
	<ng-include src="'./views/client-template.html'"></ng-include>
	<button ng-disabled="!updateClientForm.$dirty" ng-click="update()">Update client</button>
	<span ng-if="responseMessage" class="label label-success">{{responseMessage}}</span>
	<div>
		<h2>Accounts:</h2>
		<div ng-if="accounts.length === 0">
			The client doesn't have any account
		</div>
		<div ng-if="accounts.length > 0">
			<table class="table">
				<tr>
					<th>Account number</th>
					<th>Balance</th>
					<th></th>
				</tr>
				<tr ng-repeat="account in accounts">
					<td>{{account.number}}</td>
					<td>{{account.balance}}</td>
					<td><a href="/#/accounts/{{account.number}}">Account detail</a></td>
				</tr>
			</table>
		</div>
		<button ng-click="createEmptyAccount()">Create new account</button>
	</div>
</form>